<div class="container-fluid full-height">
    <div class="row full-height">
        <div class="col-sm-3 full-height">
            <img src="http://i57.tinypic.com/2gy7ec7.png" id="logo" alt="hhmaplogo">
            <div class="panel panel-default">
                <div class="panel-heading">Find a Hackathon</div>
                <div class="panel-body">
                    <h5 class="fieldTitle">Location</h5>
                    <div class="inputField">
                        {{input value=userLocationString}}
                        <p>{{userLocationCoords.lat}}, {{userLocationCoords.lng}}</p>
                    </div>
                </div>
            </div>

            <div style="margin-top:15px;" class="searchCard">
                <h4>Routes</h4>
                {{#each week in model.weeks}}
                    <div class="panel panel-default">
                        <ul class="list-group">
                            {{#each event in week}}
                                <li class="list-group-item">
                                    {{event}}
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="col-sm-9 full-height">
            {{google-maps latitude=userLocationCoords.lat longitude=userLocationCoords.lng zoom="5" markers=model.locations}}
        </div>
    </div>
</div>
