<div class="container-fluid full-height">
    <div class="row full-height">
        <div class="col-sm-2 full-height">
            <img src="http://i57.tinypic.com/2gy7ec7.png" id="logo" alt="hhmaplogo">
            <div class="panel panel-default">
                <div class="panel-heading">Find a Hackathon</div>
                <div class="panel-body">
                    <h5 class="fieldTitle">Location</h5>
                    <div class="inputField">
                        {{input value=userLocationString}}
                        <p>{{userLocationCoords.lat}}, {{userLocationCoords.lng}}</p>
                    </div>
                </div>
            </div>
{{!--
            {{#each week in model.weeks}}
                {{#if week.relative_time}}
                    <div class="panel panel-default">
                        <div class="panel-heading">{{week.relative_time}}</div>
                        <ul class="list-group">
                            {{#each event in week.events}}
                                <li class="list-group-item hackathons">
                                    {{event.name}}
                                    <img style="float:right;" src="http://i62.tinypic.com/ndlk4x.png" alt="triangle">
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}
            {{/each}}

--}}

        </div>
        <div class="col-sm-10 full-height">
            {{google-maps latitude=userLocationCoords.lat longitude=userLocationCoords.lng zoom="5" markers=model}}
        </div>
    </div>
</div>
